@import url("index.css");

table{
    margin-top: 10px;
    /*margin-bottom: 20px;*/
    position: relative;
}
table td {
    width: 10vh;
    height: 10vh;
    text-align:center;
    background-color: white;
    border:3px solid var(--blueBackgroundColor);
}

table td.highlighted {
    background-color: var(--highlightedColor);
}
#calendar_top td{
    height: 2vh;
    background-color: transparent;
    width: 10vh;
    text-align: center;
    color: white;
    border: none;
    border:3px solid transparent;
}

#month{
    font-weight: 400;
    font-size: 50px;
}
#clearAll{
    position:relative;
    text-align:center;
    background-color: var(--darkGreyColor);
    width: 100px;
    height: 30px;
    color: white;
    display:block;
    margin: 10px 0;
}

#eventName{
    position: relative;
    margin-top: 30px;
    font-style: italic;
    font-weight: 100;
    color: white;
}

#letsGo:hover{
    cursor: pointer;
}

#calForm{
    position: fixed;
    margin-left: 10%;
    margin-top: 20%;
    font-size: 30px;
}
#calPanel{
    width: 40%;
    height: 100vh;
}