:root {
    --darkGreyColor: #6F6F6F;
    --highlightedColor: #FFC99B;
    --blueBackgroundColor: #AADEFF;
}

table{
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
table td {
    width:70px;
    height:70px;
    text-align:center;
    background-color: white;
    border:3px solid var(--blueBackgroundColor);
}

table td.highlighted {
    background-color: var(--highlightedColor);
}

#month{
    font-weight: 400;
    font-size: 50px;
}
#clearAll{
    position:relative;
    text-align:center;
    background-color: var(--darkGreyColor);
    width: 150px;
    height: 30px;
    color: white;
    display:block;
    margin-bottom: 20px;
}

#eventName{
    position: relative;
    margin-top: 30px;
    color: var(--darkGreyColor);
    font-style: italic;
    font-weight: 100;
}

#letsGo:hover{
    cursor: pointer;
}

#calForm{
    position: fixed;
    margin-left: 10%;
    margin-top: 20%;
    font-size: 30px;
}

input[type=text] {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}