@import url(https://fonts.googleapis.com/css?family=Exo:100,400,600);

html, body, #content {
    min-height: 100% !important;
    height: 100%;
}
:root {
    --darkGreyColor: #575757;
    --lightGreyColor: lightGray;
    --highlightedColor: #FFC99B;
    --blueBackgroundColor: #78a3c5;
    --darkBlueColor: #2e536f;
    --lightRedColor: #753437;
    --darkRedColor: #502325;
    --font: 'Exo', Helvetica, Arial, sans-serif;
    --menubarHeight: 39px;
    --canvas: white;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: 100;
    display: none;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-weight: 100;
    margin-bottom: 5px;
    font-size: 65px;
}

#content{
    margin-top: var(--menubarHeight);
}

.blackText{
    color: black;
}
.whiteText{
    color: white;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: 600;
}
.dbluestripes{
    background: repeating-linear-gradient(
            45deg,
            var(--blueBackgroundColor),
            var(--blueBackgroundColor) 5px,
            var(--darkBlueColor) 5px,
            var(--darkBlueColor) 10px
    );
    pointer-events: none;
}
.unavailable{
    background: repeating-linear-gradient(
            45deg,
            var(--lightRedColor),
            var(--lightRedColor) 5px,
            var(--darkRedColor) 5px,
            var(--darkRedColor) 10px
    );
    z-index: -10;
}

::placeholder{
    font-style: italic;
    color: var(--lightGreyColor);
}

button:focus {outline:0;}
button:hover, td {cursor: pointer}

.bblue{
    position: relative;
    background-color: var(--blueBackgroundColor);
    /*width: 60%;*/
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.right {
    float: right;
    clear: both;
}

.button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    font-family: var(--font);
}

#clearAll:active{
    background-color: var(--highlightedColor);
}

.title{
    font-size: 5vh;
}

.title2{
    font-size: 3vh;
}

.center{
    text-align: center;
    position: relative;
}
.blueButton{
    font-size: 200%;
    padding: 1vh 1vw;
    border-radius: 1vh;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    background: var(--blueBackgroundColor);
    font-family: var(--font);
    font-weight: 100;
}
input[type=text] {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}