@import url(http://fonts.googleapis.com/css?family=Exo:100,400,600);


:root {
    --darkGreyColor: #6F6F6F;
    --lightGreyColor: lightGray;
    --highlightedColor: #FFC99B;
    --blueBackgroundColor: #AADEFF;
    --font: 'Exo', Helvetica, Arial, sans-serif;
}

body{
    margin: 0;
    font-family: var(--font);
    font-weight: 100;
    display: none;
}
.blackText{
    color: black;
}
.whiteText{
    color: white;
}
.italic{
    font-style: italic;
}

::placeholder{
    font-style: italic;
    color: var(--lightGreyColor);
}

button:focus {outline:0;}
button:hover, td {cursor: pointer}

.bblue{
    position: relative;
    background-color: var(--blueBackgroundColor);
    /*width: 60%;*/
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.right {
    float: right;
    clear: both;
}

.button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    font-family: var(--font);
}

#clearAll:active{
    background-color: var(--highlightedColor);
}

.title{
    font-size: 30px;
    /*position: relative;*/
    /*display: block;*/
}

.title2{
    font-size: 20px;
    /*position: relative;*/
    /*display: block;*/
}

.marginTop{
    margin-top: 30px;
}