:root {
    --darkGreyColor: #6F6F6F;
    --highlightedColor: #FFC99B;
    --lightGreyColor: lightGray;
}
#event{
    margin-top: 20px;
}
.marginLeft{
    margin-left: 23px;
}
#test{
    position: absolute;
    width: 20%;
}
table#hoursInADay{
    top: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
    left: 20%;
    display:inline;
}
table td {
    width:200px;
    height:30px;
    text-align:center;
    vertical-align:middle;
    background-color: var(--darkGreyColor);
    border:3px solid white;
    color: white;
}

table#calendar{
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
    left: 5%;
}

#calendar td{
    width:65px;
    height:65px;
    text-align:center;
    vertical-align:middle;
    background-color: white;
    border:1px solid var(--blueBackgroundColor);
    color: black;
}

#days{
    /*background-color: black;*/
    margin: 20px;
}

table td.highlighted {
    background-color: var(--highlightedColor);
}

.highlighted {
    background-color: var(--highlightedColor);
}
.notAvailable{
    background-color: var(--lightGreyColor);
    pointer-events: none;
    /*color: var(--lightGreyColor);*/
}
#clearAll, #done{
    position:relative;
    text-align:center;
    left: 42%;
    top: -85px;
    background-color:var(--darkGreyColor);
    width: 150px;
    height: 30px;
    color: white;
    display:block;
    margin-bottom: 20px;
}

#day{
    position: absolute;
    /*display:inline;*/
    margin: auto;
    top: 0;
    bottom: 10%;
    left: 100px;
    width: 100px;
    height: 100px;
}
#next, #prev{
    font-size: 100px;
    display:inline;
    margin: auto;
    top: 0;
    bottom: 20%;
    left: 45%;
    width: 100px;
    height: 100px;
    position: absolute;
}

#nextButton, #prevButton{
    margin: 20px;
    position: relative;
    left: 22%;
    top: 250px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    color: var(--darkGreyColor);
}

#nextButton:active, #prevButton:active{
    color: var(--highlightedColor);
}
#currentDay{
    display: inline-block;
}

#rightPanel{
    top: 0px;
    height: 100vh;
    display:none;
    width: 40%;
    float: right;
    background-color: var(--blueBackgroundColor);
}