@import url("index.css");
#event, #name{
    margin-top: 0.5vh;
    color: white;
}
#name{
    margin-top: 0.7vh;
}
table#hoursInADay{
    top: calc(12vh - var(--menubarHeight));
    position: relative;
    left: 40vw;
    display:inline;
}
#calendar{
    margin-left: 0;
}
table td {
    width: 15vw;
    height: 5vh;
    text-align:center;
    vertical-align:middle;
    background-color: var(--darkGreyColor);
    border: 0.2vh solid var(--canvas);
    color: white;
}

table#calendar, table#calendar_top{
    margin: 0 3vw;
    left: 0;
}

#calendar td, #calendar_top td{
    width: 12vw;
    height: 9vh;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 0.2vh solid var(--blueBackgroundColor);
    color: black;
}
#calendar_top td{
    font-size: 1.3vw;
    height: 2vh;
    background-color: var(--blueBackgroundColor);
    color: white;
}

table td.highlighted {
    background: var(--highlightedColor);
}

.highlighted {
    background: var(--highlightedColor);
    z-index: 100;
}

#clearAll, #showAllDays, #done{
    position: relative;
    text-align:center;
    background-color:var(--darkGreyColor);
    width: 12vw;
    height: 5vh;
    color: white;
    display:block;
    margin: 10px 0;
    font-weight: 100;
}
#clearAll, #showAllDays{
    left: 25vw;
    top: -25vh;
}
#done{
    top: 5vh;
    float: right;
    margin-right: 10%;
}
#next, #prev{
    font-size: 400%;
    display: block;
    margin: 0;
    top: 0;
}
#next:hover, #prev:hover{
    color: var(--highlightedColor)
}
#nextButton, #prevButton{
    position: absolute;
    display: inline;
    margin: 0.2vh 0.3vw;
    width: 9vw;
    left: 25vw;
    top: 48vh;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    color: var(--darkGreyColor);
    background-color: transparent;
    font-weight: 100;
}
#nextButton{
    left: 30vw;
}

#nextButton:active, #prevButton:active{
    color: var(--highlightedColor);
}

#currentDayAndMonth{
    position: absolute;
    font-size: 400%;
    font-weight: 400;
    top: 85vh;
    left: 3vw;
}
#instructions{
    color: white;
    background: var(--blueBackgroundColor);
    border-radius: 5px;
    padding: 1vh;
    width: 33vw;
    font-size: 90%;
    position: absolute;
    top: 12vh;
    left: 3vw;
}
#sampleBox{
    width: 3vh;
    height: 3vh;
    display: inline-block;
}
#tip{
    position: fixed;
    top: 60vh;
    left: 3vw;
    background-color: var(--darkBlueColor);
    border-radius: 5px;
    width: 15vw;
    color: white;
    padding: 10px;
}
#rightPanel{
    text-align: center;
    top: 0;
    display:none;
    height: calc(100vh - var(--menubarHeight));
    width: 40%;
    float: right;
    overflow: scroll;
    background-color: var(--blueBackgroundColor);
}
.slider {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 100vh;
    top: 0;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    transition: all 1s;
    z-index: 9000;
}

.slider.close {
    top: 100vh;
    height: 0;
}

#xout{
    cursor: pointer;
    margin: 10px;
    position: fixed;
    right: 10vw;
}

#getNamePopup{
    position: fixed;
    margin: 30%;
    margin-top: 15%;
    text-align: center;
    z-index: 10002;
    font-size: 240%;
    color: white;
}
#getNameForm input[type=text] {
    text-align: center;
    margin: 0;
    width: 30vw;
    height: 6vh;
    font-size: 90%;
    font-weight: 100;
    outline: none;
    border: none;
    padding: 5px;
    background-color: var(--darkGreyColor);
    color: white;
}
#greyOut{
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    pointer-events: none;
    z-index: 10001;
}