@import url("index.css");

#panel{
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    overflow: scroll;
    color: white;
}
#calName{
    text-align: center;
    font-size: 50px;
    padding: 10px 0px;
    font-weight: 400;
}
#calCode{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic;
}
#calDays{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#dayTable{
    display:inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
#date{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.summaryTable{
    position: relative;
}
table{
    background-color: var(--lightGreyColor);
}
.summaryTable td {
    width:100px;
    height:15px;
    text-align:center;
    vertical-align:middle;
    background-color: var(--darkGreyColor);
    border:2px solid white;
    color: white;
}
table td.highlighted {
    background-color: var(--highlightedColor);
}
.highlighted {
    background-color: var(--highlightedColor);
}

#timesButton{
    text-align:center;
    background-color:var(--darkGreyColor);
    width: 150px;
    height: 30px;
    color: white;
    margin: 20px;
}